@{
	ViewBag.Title = "Home";
}

@*@using (Html.BeginForm("AddData", "Home", FormMethod.Post))
	{
		<h3>Name : </h3><input type="text" name="EmployeeName" value="" class="form-control" /><br /><br />
		<h3>Position : </h3><input type="text" name="EmployeePosition" value="" class="form-control" /><br /><br />
		<h3>Phone Number : </h3><input type="text" name="EmployeeNumber" value="" class="form-control" /><br /><br />
		<h3>Email : </h3><input type="text" name="EmployeeEmail" value="" class="form-control" /><br /><br />
		<h3>Salary : </h3><input type="text" name="EmployeeSalary" value="" class="form-control" /><br /><br />
		<h3>Address : </h3><input type="text" name="EmployeeAddress" value="" class="form-control" /><br /><br />
		<input type="submit" name="submit" value="Add Record" class="btn btn-success" />
	}*@

