@model CRUD_Practice.Models.CustomerViewModel

@{
	ViewBag.Title = "Home";
}
<br /><br />


<table class="table table-bordered table-striped">
	<thead class="thead-dark">
		<tr>
			<td class="bg-success" style="font-weight:bolder; font-family:'Comic Sans MS';">Customer Name</td>
			<td class="bg-success" style="font-weight:bolder; font-family:'Comic Sans MS';">Email</td>
			<td class="bg-success" style="font-weight:bolder; font-family:'Comic Sans MS';">Address</td>
			<td class="bg-warning" style="font-weight:bolder; font-family:'Comic Sans MS';">Edit</td>
			<td class="bg-danger" style="font-weight:bolder; font-family:'Comic Sans MS';">Delete</td>
		</tr>
	</thead>	
	<tbody>
		@foreach (var item in Model.lstCustomer)
		{
			<tr>
				<td style="font-weight:bolder; font-family:'Comic Sans MS';">@item.CustomerName</td>
				<td style="font-weight:bolder; font-family:'Comic Sans MS';">@item.CustomerEmail</td>
				<td style="font-weight:bolder; font-family:'Comic Sans MS';">@item.CustomerAddress</td>
				<td><a href="~/Home/Edit/@item.CustomerId"><h5 style="font-weight:bolder; font-family:'Comic Sans MS'; color:darkorange;">Edit</h5></a></td>
				<td><a href="~/Home/Edit/@item.CustomerId"><h5 style="font-weight:bolder; font-family:'Comic Sans MS'; color:red;">Delete</h5></a></td>
			</tr>
		}
	</tbody>	
</table>
