@{
	ViewBag.Title = "Home";
}

@*@using (Html.BeginForm("AddData", "home", FormMethod.Post))
	{
		<h3>name : </h3><input type="text" name="employeename" value="" class="form-control" /><br /><br />
		<h3>position : </h3><input type="text" name="employeeposition" value="" class="form-control" /><br /><br />
		<h3>phone number : </h3><input type="text" name="employeenumber" value="" class="form-control" /><br /><br />
		<h3>email : </h3><input type="text" name="employeeemail" value="" class="form-control" /><br /><br />
		<h3>salary : </h3><input type="text" name="employeesalary" value="" class="form-control" /><br /><br />
		<h3>address : </h3><input type="text" name="employeeaddress" value="" class="form-control" /><br /><br />
		<input type="submit" name="submit" value="add record" class="btn btn-success" />
	}*@

