
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student</title>
</head>
<body>
    <div> 
        <h1>Process na Student action nu view che aaaaa!!!!!!!!!</h1>
    </div>
</body>
</html>
