
@{
    /*Fish browsing catalog*/

    ViewBag.Title = "Buy Fish";
}
</br></br>
<div class="container">
	<div class="row">
		<div class="col">
			<div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;">
				<img class="card-img-top" src="~/Assets/Fish/a1.png" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Katla</h5>
					<p class="card-text">Some quick example text to build.</p>
					<a href="#" class="btn btn-primary">Buy Now</a>
					<button type="button" class="btn btn-warning">Add to cart</button>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;">
				<img class="card-img-top" src="~/Assets/Fish/a2.png" alt="Card image cap">								
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build.</p>
					<a href="#" class="btn btn-primary">Buy Now</a>
					<button type="button" class="btn btn-warning">Add to cart</button>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;">
				<img class="card-img-top" src="~/Assets/Fish/a3.png" alt="Card image cap">								
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build.</p>
					<a href="#" class="btn btn-primary">Buy Now</a>
					<button type="button" class="btn btn-warning">Add to cart</button>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;">
				<img class="card-img-top" src="~/Assets/Fish/a4.png" alt="Card image cap">								
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build.</p>
					<a href="#" class="btn btn-primary">Buy Now</a>
					<button type="button" class="btn btn-warning">Add to cart</button>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;">
				<img class="card-img-top" src="~/Assets/Fish/a5.png" alt="Card image cap">								
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build.</p>
					<a href="#" class="btn btn-primary">Buy Now</a>
					<button type="button" class="btn btn-warning">Add to cart</button>
				</div>
			</div>
		</div>

		<div class="w-100"></div>
		</br></br>

		<div class="col">
			<div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;">
				<img class="card-img-top" src="~/Assets/Fish/a6.png" alt="Card image cap">								
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build.</p>
					<a href="#" class="btn btn-primary">Buy Now</a>
					<button type="button" class="btn btn-warning">Add to cart</button>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;">
				<img class="card-img-top" src="~/Assets/Fish/a7.png" alt="Card image cap">								
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build.</p>
					<a href="#" class="btn btn-primary">Buy Now</a>
					<button type="button" class="btn btn-warning">Add to cart</button>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;">
				<img class="card-img-top" src="~/Assets/Fish/a8.png" alt="Card image cap">								
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build.</p>
					<a href="#" class="btn btn-primary">Buy Now</a>
					<button type="button" class="btn btn-warning">Add to cart</button>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;">
				<img class="card-img-top" src="~/Assets/Fish/a9.png" alt="Card image cap">								
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build.</p>
					<a href="#" class="btn btn-primary">Buy Now</a>
					<button type="button" class="btn btn-warning">Add to cart</button>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;">
				<img class="card-img-top" src="~/Assets/Fish/a10.png" alt="Card image cap">								
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build.</p>
					<a href="#" class="btn btn-primary">Buy Now</a>
					<button type="button" class="btn btn-warning">Add to cart</button>
				</div>
			</div>
		</div>
	</div>
</div>